<%- include ('../partials/header') %>
<div class="row d-flex justify-content-center m-2">
  <%- include ('../partials/messages') %>
  <div id="success" class="alert alert-success alert-dismissible fade show
                           <% if(noMessages){ %>invisible<% } %>">
      <%= successMgs %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% if(noMatch !== null){ %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <p class="text-center"><%= noMatch %></p>
      <button type="button" class="close"
              data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% } %>
</div>
<div class="d-flex justify-content-center m-3">
  <div class="spinner-border text-primary" 
      id="spinner" role="status"> 
      <span class="sr-only">Loading...</span> 
  </div>
</div>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="btn-group col-xl-6 col-lg-6 col-md-8 col-sm-10 col-xs-12 col-12"
         role="group" aria-label="Basic example">
      <a class="btn btn-primary" href="/post/new">New Post</a>
      <a class="btn btn-primary" href="/">Published</a>
    </div>
  </div>
  <% if(posts){
    posts.forEach(post => { %>
      <div class="card col-xl-6 col-lg-6 col-md-8 col-sm-10 col-xs-10 col-12 m-2"
           id="post">
        <div class="card-body">
            <div class="row main">
              <a href="/user/<%= post.user %>/profile"
                 class="text-decoration-none">
                 <h4 class="card-title">
                   <% posters.forEach(poster => {
                     if(poster._id.equals(post.user)){ %>
                      <i class="fa fa-user-circle"></i>
                      <%= poster.name %>
                     <% }
                   }); %>
                 </h4>
              </a>
              <% if(currentUser._id.equals(post.user)){ %>
                <div class="dropdown ml-xl-5 ml-lg-5 ml-md-5">
                  <a class="w-50 h-50" type="button"
                          id="dropdownMenu1" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-angle-down text-center"></i>
                  </a>
                  <form action="/post/<%= post._id %>?_method=DELETE"
                        method="post">
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <a data-toggle="collapse"
                         href="#collapseExample<%= post._id %>"
                         aria-expanded="false" class="dropdown-item"
                         aria-controls="collapseExample">
                         Edit
                      </a>
                      <button type="submit" class="dropdown-item">
                        Delete
                      </button>
                    </div>
                  </form>
                </div>
              <% } %>
            </div>
            <div class="row ml-1">
              <small class="text-black-50 text-center">
                <%= posttime[posts.indexOf(post)] %>
              </small>
            </div>
            <div class="card-text m-3">
              <div class="row">
                <h4 class="card-subtitle"><%= post.title %></h4>
              </div>
              <div class="card-text m-3">
                <p class="text-start"><%= post.content %></p>
              </div>
            </div>
            <div class="collapse" id="collapseExample<%= post._id %>">
              <form action="/post/<%= post._id %>?_method=put"
                    method="post" class="form-group">
                <div class="form-group">
                  <input type="text" name="title" id="content"
                       class="form-control" value="<%= post.title %>">
                </div>
                <div class="form-group">
                  <textarea name="content" id="content"
                            class="form-control w-100" rows="3">
                    <%= post.content %>
                  </textarea>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-warning"
                       value="Update Post">
                </div>
                <div class="form-group">
                  <a href="javascript:history.back()" class="btn btn-primary">
                    Cancel
                  </a>
                </div>
              </form>
            </div>
            <hr class="col-*-10">
            <button class="btn btn-light collapsed w-100" type="button"
                    data-toggle="collapse" 
                    data-target="#collapseExample<%= posts.indexOf(post) %>"
                    aria-expanded="false"
                    aria-controls="collapseExample<%= posts.indexOf(post) %>">
              <i class="far fa-comments"></i> Comments
            </button>            
            <hr class="col-*-10">
            <form action="/comment/<%= post._id %>" method="post" class="form-group">
              <a href="/user/<%= currentUser._id %>/profile"
                 class="text-decoration-none">
                <h5 class="card-subtitle">
                  <i class="fa fa-user-circle"></i>
                  <%= currentUser.name %>
                </h5>
              </a>
              <div class="row main">
                <div class="form-group mr-1">
                  <input type="text" name="content"
                         class="form-control"
                         id="comment" placeholder="Write your comment ...">
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">
                    send
                  </button>
                </div>
              </div>
            </form>
            <div class="collapse" id="collapseExample<%= posts.indexOf(post) %>">
              <ul class="list-group">
                <% comments.forEach(comment => { %>
                  <% if(comment.post.equals(post._id)){ %>
                    <li class="list-group-item">
                      <div class="row main">
                        <a href="/user/<%= comment.user %>/profile"
                          class="text-decoration-none">
                         <h5 class="card-subtitle">
                           <% posters.forEach(poster => {
                             if(poster._id.equals(comment.user)){ %>
                              <i class="fa fa-user-circle"></i>
                              <%= poster.name %>
                             <% }
                           }); %>
                         </h5>
                        </a>
                        <% if(comment.user.equals(currentUser._id)){ %>
                         <div class="dropdown ml-xl-5 ml-lg-5 ml-md-5">
                           <a class="w-50 h-50" type="button"
                                   id="dropdownMenu1" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                             <i class="fas fa-angle-down text-center"></i>
                           </a>
                           <form action="/comment/<%= comment._id %>?_method=DELETE"
                                 method="post">
                             <div class="dropdown-menu"
                                  aria-labelledby="dropdownMenu1">
                               <a data-toggle="collapse"
                                  href="#collapseExample<%= comment._id %>"
                                  aria-expanded="false" class="dropdown-item"
                                  aria-controls="collapseExample">
                                 Edit
                               </a>
                               <button type="submit" class="dropdown-item">
                                 Delete
                               </button>
                             </div>
                           </form>
                         </div>
                       <% } %>
                      </div>
                      <div class="row ml-1">
                        <small class="text-black-50 text-center">
                          <%= commenttime[comments.indexOf(comment)] %>
                        </small>
                      </div>
                      <p class="text-start"><%= comment.content %></p>
                      <div class="collapse" id="collapseExample<%= comment._id %>">
                        <form action="/comment/<%= comment._id %>?_method=put"
                              method="post" class="form-group">
                          <div class="form-group">
                            <input type="text" name="content" id="content"
                                   class="form-control"
                                   value="<%= comment.content %>">
                          </div>
                          <div class="form-group">
                            <input type="submit" class="btn btn-warning mt-1"
                                   value="Update Comment">
                          </div>
                          <div class="form-group">
                            <a href="javascript:history.back()"
                               class="btn btn-primary">
                              Cancel
                            </a>
                          </div>
                        </form>
                      </div>
                    </li>
                  <% } %>
                <% }); %>
              </ul>
            </div>
        </div>
      </div>
    <% });
  }else{ %>
    <div class="row d-flex justify-content-center m-2">
      <p class="text-center font-weight-bolder text-info"
         style="font-size: 24px;">
         No posts haven't made yet!
      </p>
    </div>
  <% } %>
</div>
<%- include ('../partials/footer') %>